<%- model_class = MyRecord -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:size) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @my_records.each do |my_record| %>
      <tr>
        <td><%= my_record.id %></td>
        <td>
          <p><%= my_record.name %></p>
          <% if my_record.converted == 0 %>
              <%= image_tag("please_wait.gif", :id => "convert-#{my_record.id}", :style => "display: block" ) %>
              <div id="audio-controls-<%= my_record.id %>">
                  <audio controls style="display: none" >
                    <source src="http://<%= request.env['HTTP_HOST'] %>/uploads/<%= my_record.unic_name %>.mp3" type="audio/mpeg">
                  </audio>
                <%= link_to image_tag("download.png"), "/uploads/#{my_record.unic_name}.mp3", :class => "download", :style => "display: none" %>
              </div>
              <p class="convert-error" id="convert-error-<%= my_record.id %>" style="display: none">Error: not converted</p>
              <script type="text/javascript">
                  notConvertedIds = notConvertedIds + <%= my_record.id %> + "#";
              </script>
          <% elsif my_record.converted == 1 %>
              <div>
                  <audio controls>
                    <source src="http://<%= request.env['HTTP_HOST'] %>/uploads/<%= my_record.unic_name %>.mp3" type="audio/mpeg">
                  </audio>
                    <%= link_to image_tag("download.png"), "/uploads/#{my_record.unic_name}.mp3", :class => "download" %>
                    <!--<a class="btn download" href="http://<%= request.env['HTTP_HOST'] %>/uploads/<%= my_record.unic_name %>.mp3"></a>-->
              </div>
          <% elsif my_record.converted == 2 %>
              <p class="convert-error">Error: not converted</p>
          <% end %>
        </td>
        <td><%= my_record.author if my_record.author != "0" %></td>
        <td><p id="size-<%= my_record.id %>"><%= number_to_human_size(my_record.size) %></p></td>
        <td><%= my_record.created_at.strftime("%d.%m.%Y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_my_record_path(my_record), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      my_record_path(my_record),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_my_record_path,
            :class => 'btn btn-primary' %>
