<%- model_class = Friend -%>
<div class="page-header">
  <h1>My Friends</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:friend_id) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th>Added at</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend|
       good = false
       if friend.friend_id == current_user.id and friend.active
            user = User.find(friend.user_id)
            good = true
         elsif friend.user_id == current_user.id
           user = User.find(friend.friend_id)
           good = true
         end
     if good
    %>
      <tr>
        <td class="avatar">
          <% if friend.active %>
            <% if user.avatar? %>
              <%= link_to image_tag(user.avatar_url), "/friends/#{user.id}" %>
            <% else %>
              <%= link_to image_tag("default.png"), "/friends/#{user.id}" %>
            <% end%>
            <%= link_to user.name, "/friends/#{user.id}", :style => "text-decoration:underline" %>
          <% else %>
              <% if user.avatar? %>
                  <%= image_tag(user.avatar_url) %>
              <% else %>
                  <%= image_tag("default.png") %>
              <% end%>
              <%= user.name %>
          <% end %>
        </td>
        <td class="active_friend">
          <% if friend.active %>
              <%= image_tag("active.png") %>
          <% else %>
              <%= image_tag("not_active.png") %>
          <% end %>
        </td>
        <td><%= friend.created_at.strftime("%d.%m.%Y") %></td>
        <td>
          <%= link_to "Leave",
                      friend_path(friend),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end
       end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_friend_path,
            :class => 'btn btn-primary' %>
